@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.container {
  position: absolute;
  
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: auto;
  left: 0px;
  right: 0px;
  margin: auto;
}
img{
  height :100px;
  padding: 0px 20px 0 20px;


}
img:first-child{
  margin-left:auto; 
  float: left;
  height: 50px;
}

img:last-child{
  display: inline-block; justify-content: flex-end;
  float: right;

}
.title {
  position: relative;
  align-items: center;
  background-color: #c59250;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 45px;
  border-radius: 5px;

  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ece6d6
  ;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: #835d2b  ;
  display: block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.score-board {
  position: relative;
  height: 700px;
  top: 60px;
  bottom: 150px;
}

.score {

font-size: 50px;
  text-align: center;
}

.playBtn {
  display: inherit;
  font-size: 1.4em;
  padding: 10px;
  top: 350px;
  background-color: #b38f5e;
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
}
